@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-bold-webfont.eot);
  src: url(../fonts/montserrat-bold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/montserrat-bold-webfont.woff2) format('woff2'), url(../fonts/montserrat-bold-webfont.woff) format('woff'), url(../fonts/montserrat-bold-webfont.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-regular-webfont.eot);
  src: url(../fonts/montserrat-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/montserrat-regular-webfont.woff2) format('woff2'), url(../fonts/montserrat-regular-webfont.woff) format('woff'), url(../fonts/montserrat-regular-webfont.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
